@model Trsys.Frontend.Web.Models.Home.LoginViewModel

@{
    ViewBag.Title = "ログイン";
    var errorMessage = ViewData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mb-4">
        @errorMessage
    </div>
}

<h1 class="h2 mb-3">@ViewBag.Title</h1>

<form asp-action="LoginConfirm" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
    <div style="max-width: 40rem">
        <div class="mb-2">
            <label class="form-label">ユーザー名</label>
            <input class="form-control" type="text" name="Username" value="@Model.Username" />
        </div>
        <div class="mb-3">
            <label class="form-label">パスワード</label>
            <input class="form-control" type="password" name="Password" value="@Model.Password" />
        </div>
        <div>
            <button class="btn btn-primary">ログイン</button>
        </div>
    </div>
</form>