<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? "Trsys" : $"{ViewData["Title"]} - Trsys")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="bg-primary py-3 px-3">
        <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-nav text-white text-decoration-none fw-bold h1">Trsys</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex align-items-center">
                        <div class="p-1">
                            <a asp-action="ChangePassword" asp-controller="Home" class="btn btn-light">パスワード変更</a>
                        </div>
                        <div class="p-1">
                            <form asp-action="Logout" asp-controller="Home">
                                <button class="btn btn-light">ログアウト</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </nav>
    </header>
    <main class="py-3 px-3">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
